.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
}

