.page {
  height: 100%;
  padding: 10px;
}

.editor {
  padding: 1rem 3rem 1rem 3rem;
  border: 1px solid #141204;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--secondary-color);
}



